
<form class="navbar-form navbar-left">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="输入藏密者或标题">
  </div>
</form>
<ul class="nav navbar-nav navbar-right">
<li><a href="/regist">挖洞</a></li>
<li><a href="/login">进洞</a></li>
</ul>
</div>
</div>
</nav>
<div class="container">
    <% if (success) { %>
  <script>
      alert('操作成功!');
  </script>
<% } %>